<div class="question-container post-container">
  <h2 class="question-show-title"><%= @question.title %></h2>
  <div class="question-id post-id"><%= @question.id %></div>
  <div class="row">
    <div class="question-user-info col-md-1">
      <div class="vote-container">
        <%= link_to image_tag("upvote.png", class: "center-block"), upvote_path(@question), method: :post, class: "vote-link" %>
        <div class="reputation text-center"><%= @question.reputation %></div>
        <%= link_to image_tag("downvote.png", class: "center-block"), downvote_path(@question), method: :post, class: "vote-link" %>
      </div>
      <div class="empty-gap"></div>
      <div class="question-favorite text-center">
        <% if current_user && current_user.favorite_questions.include?(@question) %>
          <i class="fa fa-star fa-3x favorite-toggle" aria-hidden="true"></i>
        <% else %>
          <i class="fa fa-star-o fa-3x favorite-toggle" aria-hidden="true"></i>
        <% end %>
        <div class='favorite-count'><%= @question.favorites.count %></div>
      </div>
      <%= get_flash %>
    </div>
    <div class="question-content col-md-10">
      <%= @question.content %>
      <div class="empty-gap"></div>
      <% @question.tags.each do |tag| %>
        <%= link_to "#{tag.name}", tag_path(tag), class: "btn btn-primary btn-xs tag-btn" %>
      <% end %>
      <div class="empty-gap"></div>
      <div class="question-actions-users row">
        <div class="col-md-3">
          <%= link_to "Edit", edit_question_path %>
          <%= link_to "Delete", question_path, method: :delete %>
        </div>
        <div class="col-md-3 col-md-offset-6">
          <div>asked <%= @question.created_at.strftime('%b%e at %I:%M') %></div>
          <div><%= link_to @question.user.name, user_path(@question.user) %> <%= @question.user.reputation %></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="comment-container col-md-10 col-md-offset-1">
      <div class="comment-list">
        <% @question.comments.each do |comment| %>
          <div class="comment-content"><%= comment.content %> - <%= comment.user.name %></div>
        <% end %>
      </div>
      <div class="comment-new-section">
        <div class="empty-gap"></div>
        <%= link_to "add comment", new_comment_path({post_id: @question.id}), class: "comment-add-link" %>
        <%= render partial: '/comments/comment_form' %>
        <div class="empty-gap"></div>
      </div>
    </div>
  </div>
</div>
<h3 class="answer-list-title">
  <span id="answer-count"><%= @question.answers.count %></span> Answers
  </h3>
<% @question.answers.each do |answer| %>
  <div id="answer" class="post-container">
    <% next if answer.content.nil? %>
    <%= render partial: 'answer', locals: {answer: answer} %>
  </div>
<% end %>
<%= render 'answer_form' %>