<% if flash[:notice] %>
  <div class="alert alert-danger signin-alert" role="alert">
    <i class="fa fa-exclamation-circle"></i>
    <span class="sr-only">Error:</span>
    <%= get_flash %>
  </div>
<% end %>
<div id="signin">
  <%= form_for @user, url: sessions_path, html: { class: "form-signin" } do |f| %>
    <h2 class="form-signin-heading">Sign In</h2>
    <%= f.label :name, "Username:", class: "sr-only" %>
    <%= f.text_field :name, class: "form-control", placeholder: "Username" %>
    <%= f.label :password, "Password:", class: "sr-only" %>
    <%= f.password_field :password, class: "form-control", placeholder: "Password" %>
    <div class="empty-gap"></div>
    <%= f.submit 'Sign In', class: "btn btn-lg btn-primary btn-block" %>
  <% end %>
</div>