<div id="signup">
  <%= form_for @user, html: { class: "form-signin" } do |f| %>
    <h2 class="form-signin-heading">Sign Up</h2>
    <%= f.label :name, "Username:", class: "sr-only" %>
    <%= f.text_field :name, class: "form-control", placeholder: "Username" %>
    <%= f.label :password, "Password:", class: "sr-only" %>
    <%= f.password_field :password, class: "form-control", placeholder: "Password" %>
    <%= f.label :password_confirmation, "Confirm Password:", class: "sr-only" %>
    <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Password Confirmation" %>
    <div class="empty-gap"></div>
    <%= f.submit 'Sign In', class: "btn btn-lg btn-primary btn-block" %>
    <%= get_flash %>
  <% end %>
</div>